# Angular / Node
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Visual Studio
.vs/
*.user
*.suo

# .NET
bin/
obj/
Debug/
Release/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log